flowsCLIMA.json
[
    {
        "id": "2d8ec7777332306b",
        "type": "tab",
        "label": "Clima por API y BD",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "847a2e4e8147c408",
        "type": "inject",
        "z": "2d8ec7777332306b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "ba94c064231060d3"
            ]
        ]
    },
    {
        "id": "5f04d7090feb55ef",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "function 9",
        "func": "msg.payload = msg.payload.temp;\nmsg.topic = msg.payload.id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 100,
        "wires": [
            [
                "662aa8cd46316d62",
                "5ead0cb6d02f7a29"
            ]
        ]
    },
    {
        "id": "3aade1caf975400a",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "function 10",
        "func": "msg.payload = msg.payload.hum;\nmsg.topic = msg.payload.id;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 200,
        "wires": [
            [
                "9329162af01ec421",
                "5ead0cb6d02f7a29"
            ]
        ]
    },
    {
        "id": "ba94c064231060d3",
        "type": "http request",
        "z": "2d8ec7777332306b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=18.98&lon=-99.23&appid=b7f352fe0573351396b44a6b8905dadd&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 320,
        "wires": [
            [
                "654233c8ffce937d"
            ]
        ]
    },
    {
        "id": "662aa8cd46316d62",
        "type": "ui_gauge",
        "z": "2d8ec7777332306b",
        "name": "Temperatura",
        "group": "e07a009df135f8e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#73d216",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "654233c8ffce937d",
        "type": "json",
        "z": "2d8ec7777332306b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "6141be29b8bfd333",
                "80325c4ea37bf1ca"
            ]
        ]
    },
    {
        "id": "6141be29b8bfd333",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "Temperartura API",
        "func": "global.set(\"tempAPI\",msg.payload.main.temp);\nmsg.payload = msg.payload.main.temp;\nmsg.topic = \"Temperatura\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 440,
        "wires": [
            [
                "94cf8159015d8e01",
                "fae23c4d2ba2a989"
            ]
        ]
    },
    {
        "id": "80325c4ea37bf1ca",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "Humedad API",
        "func": "global.set(\"humAPI\",msg.payload.main.humidity);\nmsg.payload = msg.payload.main.humidity;\nmsg.topic = \"Humedad\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 360,
        "wires": [
            [
                "1b12d29606344598",
                "fae23c4d2ba2a989"
            ]
        ]
    },
    {
        "id": "5f603e23974d78e0",
        "type": "comment",
        "z": "2d8ec7777332306b",
        "name": "API",
        "info": "",
        "x": 150,
        "y": 240,
        "wires": []
    },
    {
        "id": "7eb90518c5ded6bd",
        "type": "json",
        "z": "2d8ec7777332306b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "5f04d7090feb55ef",
                "3aade1caf975400a"
            ]
        ]
    },
    {
        "id": "9329162af01ec421",
        "type": "ui_gauge",
        "z": "2d8ec7777332306b",
        "name": "Humedad realtiva",
        "group": "e07a009df135f8e7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#888a85",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ead0cb6d02f7a29",
        "type": "ui_chart",
        "z": "2d8ec7777332306b",
        "name": "Historico",
        "group": "e07a009df135f8e7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#729fcf",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "91439aced240ccbb",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "JSON publico",
        "func": "//msg.payload = '{\"id\":\"David Torres, Av. universidad, Mor.\",\"hum\":'+global.get(\"humAPI\")+',\"temp\":'+global.get(\"tempAPI\")+'}';\nmsg.topic = \"INSERT INTO clima (`nombre`,`temperatura`,`humedad`) VALUES ('David, cuernavaca',\" + global.get(\"tempAPI\") + \",\" + global.get(\"humAPI\") + \");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "250ae5adaff7435d",
                "f6620db94a88c0b8"
            ]
        ]
    },
    {
        "id": "250ae5adaff7435d",
        "type": "debug",
        "z": "2d8ec7777332306b",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 660,
        "wires": []
    },
    {
        "id": "cfbbcb0df3a73074",
        "type": "inject",
        "z": "2d8ec7777332306b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 580,
        "wires": [
            [
                "91439aced240ccbb"
            ]
        ]
    },
    {
        "id": "5265335a66e6facb",
        "type": "comment",
        "z": "2d8ec7777332306b",
        "name": "Enviador",
        "info": "",
        "x": 160,
        "y": 520,
        "wires": []
    },
    {
        "id": "f6620db94a88c0b8",
        "type": "mqtt out",
        "z": "2d8ec7777332306b",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1e27c7d55a71b668",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "68bde7f4e5ed92b8",
        "type": "comment",
        "z": "2d8ec7777332306b",
        "name": "Escuchador",
        "info": "",
        "x": 170,
        "y": 820,
        "wires": []
    },
    {
        "id": "63cc26defbabd618",
        "type": "mqtt in",
        "z": "2d8ec7777332306b",
        "name": "",
        "topic": "codigoIoT/flow5/mqtt/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e27c7d55a71b668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 900,
        "wires": [
            [
                "9a0ff83c9095a029"
            ]
        ]
    },
    {
        "id": "9a0ff83c9095a029",
        "type": "json",
        "z": "2d8ec7777332306b",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 880,
        "wires": [
            [
                "bc67d7b757904d9c",
                "cc299180ca140217",
                "93ade1d040fc803d"
            ]
        ]
    },
    {
        "id": "bc67d7b757904d9c",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "Temperatura publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 920,
        "wires": [
            [
                "40631529bdde3b92"
            ]
        ]
    },
    {
        "id": "cc299180ca140217",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "Humedad publica API",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 800,
        "wires": [
            [
                "904727fcc0423aba"
            ]
        ]
    },
    {
        "id": "52a30c20b5da2b3d",
        "type": "mqtt in",
        "z": "2d8ec7777332306b",
        "name": "",
        "topic": "codigoIoT/flow5/clima",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e27c7d55a71b668",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 60,
        "wires": [
            [
                "7eb90518c5ded6bd"
            ]
        ]
    },
    {
        "id": "904727fcc0423aba",
        "type": "ui_chart",
        "z": "2d8ec7777332306b",
        "name": "hum",
        "group": "4f760ca54a717dad",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "40631529bdde3b92",
        "type": "ui_chart",
        "z": "2d8ec7777332306b",
        "name": "temp",
        "group": "4f760ca54a717dad",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "1b12d29606344598",
        "type": "ui_gauge",
        "z": "2d8ec7777332306b",
        "name": "",
        "group": "c9ba620f7ce5532c",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HumedadAPI",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1010,
        "y": 320,
        "wires": []
    },
    {
        "id": "94cf8159015d8e01",
        "type": "ui_gauge",
        "z": "2d8ec7777332306b",
        "name": "",
        "group": "c9ba620f7ce5532c",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1070,
        "y": 400,
        "wires": []
    },
    {
        "id": "fae23c4d2ba2a989",
        "type": "ui_chart",
        "z": "2d8ec7777332306b",
        "name": "",
        "group": "c9ba620f7ce5532c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Historico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1020,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "23d14d83bbb05662",
        "type": "mysql",
        "z": "2d8ec7777332306b",
        "mydb": "2cbb884a5c7a9335",
        "name": "BD",
        "x": 950,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "93ade1d040fc803d",
        "type": "function",
        "z": "2d8ec7777332306b",
        "name": "query",
        "func": "msg.topic = \"INSERT INTO clima (`nombre`,`temperatura`,`humedad`) VALUES ('\" + msg.payload.id + \"',\" + msg.payload.temp + \",\" + msg.payload.hum +\");\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1140,
        "wires": [
            [
                "23d14d83bbb05662"
            ]
        ]
    },
    {
        "id": "e07a009df135f8e7",
        "type": "ui_group",
        "name": "MQTT",
        "tab": "1263132cd900299d",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e27c7d55a71b668",
        "type": "mqtt-broker",
        "name": "35.157.5.219",
        "broker": "35.156.177.225",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4f760ca54a717dad",
        "type": "ui_group",
        "name": "Historico público",
        "tab": "1263132cd900299d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c9ba620f7ce5532c",
        "type": "ui_group",
        "name": "API",
        "tab": "1263132cd900299d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cbb884a5c7a9335",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "codigoIoT",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "1263132cd900299d",
        "type": "ui_tab",
        "name": "Clima por API y BD",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]